<!-- #section:basics/sidebar -->
<div id="sidebar" class="sidebar responsive sidebar-fixed">
    <!-- .sidebar-shortcuts -->
    <!--
    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <a class="btn btn-success tooltip-info" title="新建订单" data-rel="tooltip" data-placement="bottom" href="#page/autoorder/add">
                <i class="ace-icon fa fa-shopping-cart"></i>
            </a>

            <a class="btn btn-info tooltip-info" title="发布车源" data-rel="tooltip" data-placement="bottom" href="#page/autocar/add">
                <i class="ace-icon fa fa-car"></i>
            </a>

            <a class="btn btn-warning tooltip-info" title="新建会员" data-rel="tooltip" data-placement="bottom" href="#page/autouser/add">
                <i class="ace-icon fa fa-users"></i>
            </a>

            <a class="btn btn-danger tooltip-info" title="新建列表" data-rel="tooltip" data-placement="bottom" href="#page/autoarticle/add">
                <i class="ace-icon fa fa-comment"></i>
            </a>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <a class="btn btn-success" href="#page/autoorder/detail"></a>

            <a class="btn btn-info" href="#page/autocar/detail"></a>

            <a class="btn btn-warning" href="#page/autouser/index"></a>

            <a class="btn btn-danger" href="#page/autocomment/index"></a>
        </div>
    </div>
    -->
    <!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li class="">
            <a data-url="page/main" href="index#page/main">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text">系统首页</span>
            </a>
        </li>
        {{if $admin.menus}}
        {{foreach from=$admin.menus item=menuItem}}
        <li>
            {{if $menuItem.children}}
            <a href="#" class="dropdown-toggle">
                {{if $menuItem.menuIco}}<i class="{{$menuItem.menuIco}}"></i>{{/if}}
                <span class="menu-text">{{$menuItem.menuName}}</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>
            <b class="arrow"></b>

            <ul class="submenu">
                {{foreach from=$menuItem.children item=child0Item}}
                <li>
                    {{if $child0Item.children}}
                    <a href="#" class="dropdown-toggle">
                        {{if $child0Item.menuIco}}<i class="{{$child0Item.menuIco}}"></i>{{/if}}
                        <span class="menu-text">{{$child0Item.menuName}}</span>
                        <b class="arrow fa fa-angle-down"></b>
                    </a>
                    <b class="arrow"></b>
                    <ul class="submenu">
                        {{foreach from=$child0Item.children item=child1Item}}
                        <li>
                            {{if $child1Item.children}}
                            <a href="#" class="dropdown-toggle">
                                {{if $child1Item.menuIco}}<i class="{{$child1Item.menuIco}}"></i>{{/if}}
                                <span class="menu-text">{{$child1Item.menuName}}</span>
                                <b class="arrow fa fa-angle-down"></b>
                            </a>
                            <b class="arrow"></b>
                            <ul class="submenu">
                                {{foreach from=$child1Item.children item=child2Item}}
                                <li>
                                    {{if $child2Item.children}}
                                    <a href="#" class="dropdown-toggle">
                                        {{if $child2Item.menuIco}}<i class="{{$child2Item.menuIco}}"></i>{{/if}}
                                        <span class="menu-text">{{$child2Item.menuName}}</span>
                                        <b class="arrow fa fa-angle-down"></b>
                                    </a>
                                    <b class="arrow"></b>
                                    <!---->
                                    <ul class="submenu">
                                        {{foreach from=$child2Item.children item=child3Item}}
                                        <li>
                                            {{if $child3Item.children}}
                                            <a href="#" class="dropdown-toggle">
                                                {{if $child3Item.menuIco}}<i class="{{$child3Item.menuIco}}"></i>{{/if}}
                                                <span class="menu-text">{{$child3Item.menuName}}</span>
                                                <b class="arrow fa fa-angle-down"></b>
                                            </a>
                                            <b class="arrow"></b>
                                            <ul class="submenu">
                                                {{foreach from=$child3Item.children item=child4Item}}
                                                <li>
                                                    <a data-url="page/{{$child4Item.menuUrl}}" href="index#page/{{$child4Item.menuUrl}}">
                                                        {{if $child4Item.menuIco}}<i class="{{$child4Item.menuIco}}"></i>{{/if}}
                                                        {{$child4Item.menuName}}
                                                    </a>
                                                </li>
                                                {{/foreach}}
                                            </ul>
                                            {{else}}
                                            <a data-url="page/{{$child3Item.menuUrl}}" href="index#page/{{$child3Item.menuUrl}}">
                                                {{if $child3Item.menuIco}}<i class="{{$child3Item.menuIco}}"></i>{{/if}}
                                                {{$child3Item.menuName}}
                                            </a>
                                            {{/if}}
                                        </li>
                                        {{/foreach}}
                                    </ul>
                                    {{else}}
                                    <a data-url="page/{{$child2Item.menuUrl}}" href="index#page/{{$child2Item.menuUrl}}">
                                        {{if $child2Item.menuIco}}<i class="{{$child2Item.menuIco}}"></i>{{/if}}
                                        {{$child2Item.menuName}}
                                    </a>
                                    {{/if}}
                                </li>
                                {{/foreach}}
                            </ul>
                            {{else}}
                            <a data-url="page/{{$child1Item.menuUrl}}" href="index#page/{{$child1Item.menuUrl}}">
                                {{if $child1Item.menuIco}}<i class="{{$child1Item.menuIco}}"></i>{{/if}}
                                {{$child1Item.menuName}}
                            </a>
                            {{/if}}
                        </li>
                        {{/foreach}}
                    </ul>
                    {{else}}
                    <a data-url="page/{{$child0Item.menuUrl}}" href="index#page/{{$child0Item.menuUrl}}">
                        {{if $child0Item.menuIco}}<i class="{{$child0Item.menuIco}}"></i>{{/if}}
                        {{$child0Item.menuName}}
                    </a>
                    {{/if}}
                </li>
                {{/foreach}}
            </ul>
            {{else}}
            <a data-url="page/{{$menuItem.menuUrl}}" href="index#page/{{$menuItem.menuUrl}}">
                {{if $menuItem.menuIco}}<i class="{{$menuItem.menuIco}}"></i>{{/if}}
                {{$menuItem.menuName}}
            </a>
            {{/if}}
        </li>
        {{/foreach}}
        {{/if}}
    </ul><!-- /.nav-list -->

    <!-- #section:basics/sidebar.layout.minimize -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <!-- /section:basics/sidebar.layout.minimize -->
</div>