
<title>Puzzle Admin-广告管理</title>
<style type="text/css">

</style>
<div class="page-header">
    <h4>
        <i class="glyphicon glyphicon-signal"></i>
        广告管理
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            {{if $action eq 'CREATE'}}
                新增广告
            {{elseif $action eq 'UPDATE'}}
                编辑广告
            {{/if}}

        </small>

        <a class="btn btn-xs orange pull-right btn-warning" href="#page/fcaad/index">
            <i class="glyphicon glyphicon-arrow-left"></i>返回广告管理</span></a>
    </h4>
</div>

<div class="row" id="">
    <div class="col-xs-12">
        <form class="form-horizontal" id="form">
            <div class="tabbable">
                <ul class="nav nav-tabs padding-16">
                    <li class="active">
                        <a data-toggle="tab" href="#edit-basic">
                            <i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
                            基本信息
                        </a>
                    </li>
                </ul>

                <div class="tab-content profile-edit-tab-content">
                    <div id="edit-basic" class="tab-pane in active">
                        <div class="space-10"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                广告链接
                            </label>
                            <div class="col-sm-9">
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="adLink" name="adLink" placeholder="广告链接" class="txt input-sm col-sm-6">
                                {{elseif $action eq 'UPDATE'}}
                                <input hidden="hidden" name="adId" id="adId" value="{{$ad.adId}}"/>
                                <input type="text" id="adLink" name="adLink" placeholder="广告链接" value="{{$ad.adLink}}" class="txt input-sm col-sm-6">
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                广告图片
                            </label>
                            <div class="col-sm-4" style="height:62px;">
                                {{if $action eq 'CREATE' or $action eq 'UPDATE'}}
                                <input type="hidden" id="hidAdPic" name="pic" />
                                <input type="file" id="pic" name="file" placeholder="广告图片">
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                位置
                            </label>
                            <div class="col-sm-9">
                                {{if $action eq 'CREATE'}}
                                <select  id="adPositionId" name="adPositionId" class="select" data-init="0" >
                                    {{foreach from=$list item=aap}}
                                    <option value="{{$aap.positionId}}" {{if $aap.positionId == 1}}selected="selected"{{/if}}>{{$aap.positionName}}</option>
                                    {{/foreach}}
                                </select>
                                {{elseif $action eq 'UPDATE'}}
                                <select  id="adPositionId" name="adPositionId" class="select" data-init="0" >
                                    {{foreach from=$list item=aap}}
                                    <option value="{{$aap.positionId}}" {{if $aap.positionId == $ad.positionId}}selected="selected"{{/if}}>{{$aap.positionName}}</option>
                                    {{/foreach}}
                                </select>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                开始时间
                            </label>
                            <div class="col-sm-9">
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="startDate" name="beginTimeString" placeholder="开始时间" class="txt input-sm col-sm-5 "/>
                                {{elseif $action eq 'UPDATE'}}
                                <input type="text" id="startDate" name="beginTimeString" value="{{$ad.beginTimeString}}" placeholder="开始时间" class="txt input-sm col-sm-5 "/>
                                {{/if}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">
                                结束时间
                            </label>
                            <div class="col-sm-9">
                                {{if $action eq 'CREATE'}}
                                <input type="text" id="endDate" name="endTimeString" placeholder="结束时间" class="txt input-sm col-sm-5 "/>
                                {{elseif $action eq 'UPDATE'}}
                                <input type="text" id="endDate" name="endTimeString" value="{{$ad.endTimeString}}" placeholder="结束时间" class="txt input-sm col-sm-5 "/>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{if $action eq 'CREATE' or $action eq 'UPDATE'}}
            <div class="clearfix form-actions">
                <button id="btnReset" class="btn" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    重置
                </button>
                &nbsp; &nbsp;
                <button id="btnSubmit" data-action="{{$action}}" class="btn btn-info" type="button">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    确定
                </button>
            </div>
            {{/if}}
        </form>


    </div><!-- /.col -->
</div><!-- /.row -->
<script type="text/javascript">
    $('.page-content-area').ace_ajax('loadScripts', [null, null], function() {
        {{if $action eq 'CREATE' or $action eq 'UPDATE'}}
        var spliter = "※";
        $("#btnSubmit").on("click",function(){
            var adLink=$("#adLink").val();
            var pic=$("#hidAdPic").val();
            var startDate=$("#startDate").val();
            var endDate=$("#endDate").val();
            var urlFormant= new RegExp(
                            "^" +
                        // protocol identifier
                            "(?:(?:https?|ftp)://)" +
                        // user:pass authentication
                            "(?:\\S+(?::\\S*)?@)?" +
                            "(?:" +
                        // IP address dotted notation octets
                        // excludes loopback network 0.0.0.0
                        // excludes reserved space >= 224.0.0.0
                        // excludes network & broacast addresses
                        // (first & last IP address of each class)
                            "(?:[1-9]\\d?|1\\d\\d|2[01]\\d|22[0-3])" +
                            "(?:\\.(?:1?\\d{1,2}|2[0-4]\\d|25[0-5])){2}" +
                            "(?:\\.(?:[1-9]\\d?|1\\d\\d|2[0-4]\\d|25[0-4]))" +
                            "|" +
                        // host name
                            "(?:(?:[a-z\\u00a1-\\uffff0-9]-*)*[a-z\\u00a1-\\uffff0-9]+)" +
                        // domain name
                            "(?:\\.(?:[a-z\\u00a1-\\uffff0-9]-*)*[a-z\\u00a1-\\uffff0-9]+)*" +
                        // TLD identifier
                            "(?:\\.(?:[a-z\\u00a1-\\uffff]{2,}))" +
                            ")" +
                        // port number
                            "(?::\\d{2,5})?" +
                        // resource path
                            "(?:/\\S*)?" +
                            "$", "i"
            );
            var time1 = new Date(startDate).getTime();
            var time2 = new Date(endDate).getTime();
            if(adLink == ""){
                showTip("请输入URL链接");
                $("#adLink").focus();
                return;
            }
            if(!urlFormant.test(adLink)){
                showTip("请输入正确的URL链接");
                $("#adLink").focus();
                return;
            }
            if(startDate == ""){
                showTip("请输入开始时间")
                $("#startDate").focus();
                return;
            }
            if(endDate == ""){
                showTip("请输入结束时间");
                $("#endDate").focus();
                return;
            }
            if(time1>time2 || time1==time2){
                showTip("结束时间必须大于开始时间");
                $("#endDate").focus();
                return;
            }
            $.post("{{$contextPath}}/admin/fcaad/action.do","action=" + $(this).attr("data-action") + "&"+$("form").serialize(),function(result){
                if(result.code==0){
                    changeHash("page/fcaad/index");
                }else{
                    showAlert(result.msg);
                }
            });
        });

        $("#startDate").datepicker({
            showOtherMonths: true,
            selectOtherMonths: false
        });

        $("#endDate").datepicker({
            showOtherMonths: true,
            selectOtherMonths: false
        });

        var userAvatar = $('#pic').ace_file_input({
            style:'well',
            allowExt: ["jpeg", "jpg", "png", "gif" , "bmp"],
            allowMime: ["image/jpg", "image/jpeg", "image/png", "image/gif", "image/bmp"],

            btn_choose:'拖放或点击选择图片',
            btn_change:null,
            no_icon:'ace-icon fa fa-cloud-upload',
            droppable:true,
            thumbnail:'small',
            //,icon_remove:null//set null, to hide remove/reset button
            /**,before_change:function(files, dropped) {
						//Check an example below
						//or examples/file-upload.html
						return true;
					}*/
            before_remove : function() {
                $("#hidAdPic").val("");
                return true;
            },
            preview_error : function(filename, error_code) {
                var errorMsg = '';
                if(error_code == 2){
                    errorMsg = "加载读取图片出错";
                }else if(error_code == 3){
                    errorMsg = "创建缩列图出错";
                }
                showTip(errorMsg);
                //name of the file that failed
                //error_code values
                //1 = 'FILE_LOAD_FAILED',
                //2 = 'IMAGE_LOAD_FAILED',
                //3 = 'THUMBNAIL_FAILED'
                //alert(error_code);
            }
        });
        {{/if}}
        {{if $action eq 'UPDATE'}}
        var files = [{
            name: "temp.jpeg",
            type: "image",
            path: "{{$ad.pic}}"
        }];
        userAvatar.ace_file_input("show_file_list", files, false);
        {{/if}}
    });
</script>
