<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="SfArticleMapper">
    <resultMap id="SfArticle" type="puzzle.sf.entity.SfArticle">
    	<id column="article_id" property="articleId" /> 
    	<result column="title" property="title" /> 
    	<result column="title2" property="title2" />
        <result column="auth" property="auth"/>
    	<result column="cat_id" property="catId" /> 
    	<result column="cover" property="cover" /> 
    	<result column="content" property="content" /> 
    	<result column="article_url" property="articleUrl" /> 
    	<result column="source_url" property="sourceUrl" />
        <result column="abstracts" property="abstracts"/>
    	<result column="add_time" property="addTime" /> 
    	<result column="add_user_id" property="addUserId" /> 
    	<result column="check_time" property="checkTime" /> 
    	<result column="status" property="status" /> 
    	<result column="check_user_id" property="checkUserId" /> 
    	<result column="sort_order" property="sortOrder" />
        <result column="userName" property="userName"/>
    </resultMap>

    <sql id="allColumn">
    	article_id, title, title2, auth, cat_id, cover, content, article_url, source_url, abstracts, add_time, add_user_id, check_time, status, check_user_id, abstracts, sort_order
    </sql>

    <insert id="insert" parameterType="SfArticle" useGeneratedKeys="true" keyProperty="articleId">
        insert into sf_article 
        (
        	
        	<if test="title != null">title, </if>
        	<if test="title2 != null">title2, </if>
            <if test="auth != null">auth, </if>
        	<if test="catId != null">cat_id, </if>
        	<if test="cover != null">cover, </if>
        	<if test="content != null">content, </if>
        	<if test="articleUrl != null">article_url, </if>
        	<if test="sourceUrl != null">source_url, </if>
            <if test="abstracts != null">abstracts, </if>
        	<if test="addTime != null">add_time, </if>
        	<if test="addUserId != null">add_user_id, </if>
        	<if test="checkTime != null">check_time, </if>
        	<if test="status != null">status, </if>
        	<if test="checkUserId != null">check_user_id, </if>
        	<if test="sortOrder != null">sort_order</if>
        )
        values 
        (
        	
        	<if test="title != null">#{title}, </if>
        	<if test="title2 != null">#{title2}, </if>
            <if test="auth != null">#{auth}, </if>
        	<if test="catId != null">#{catId}, </if>
        	<if test="cover != null">#{cover}, </if>
        	<if test="content != null">#{content}, </if>
        	<if test="articleUrl != null">#{articleUrl}, </if>
        	<if test="sourceUrl != null">#{sourceUrl}, </if>
            <if test="abstracts != null">#{abstracts}, </if>
        	<if test="addTime != null">#{addTime}, </if>
        	<if test="addUserId != null">#{addUserId}, </if>
        	<if test="checkTime != null">#{checkTime}, </if>
        	<if test="status != null">#{status}, </if>
        	<if test="checkUserId != null">#{checkUserId}, </if>
        	<if test="sortOrder != null">#{sortOrder}</if>
       	)
    </insert>

    <update id="update" parameterType="SfArticle">
        update sf_article
        <set>
            <trim suffixOverrides=",">
                <if test="title != null">
                    title = #{title},
                </if>
                <if test="title2 != null">
                    title2 = #{title2},
                </if>
                <if test="auth != null">
                    auth = #{auth},
                </if>
                <if test="catId != null">
                    cat_id = #{catId},
                </if>
                <if test="cover != null">
                    cover = #{cover},
                </if>
                <if test="content != null">
                    content = #{content},
                </if>
                <if test="articleUrl != null">
                    article_url = #{articleUrl},
                </if>
                <if test="sourceUrl != null">
                    source_url = #{sourceUrl},
                </if>
                <if test="abstracts != null">
                    abstracts = #{abstracts},
                </if>
                <if test="addTime != null">
                    add_time = #{addTime},
                </if>
                <if test="addUserId != null">
                    add_user_id = #{addUserId},
                </if>
                <if test="checkTime != null">
                    check_time = #{checkTime},
                </if>
                <if test="status != null">
                    status = #{status},
                </if>
                <if test="checkUserId != null">
                    check_user_id = #{checkUserId},
                </if>
                <if test="sortOrder != null">
                    sort_order = #{sortOrder},
                </if>
            </trim>
        </set>
        <where> 
        	<if test="articleId > 0">
                article_id = #{articleId}
            </if>
        </where>
    </update>

    <delete id="delete" parameterType="Map">
        delete from sf_article
        <where>
	        <trim prefixOverrides="and | or">  
	        	<if test="articleId > 0">
	                article_id = #{articleId}
	            </if>
	        	<if test="title != null">
	                title = #{title}
	            </if>
	        	<if test="title2 != null">
	                title2 = #{title2}
	            </if>
	        	<if test="catId > 0">
	                cat_id = #{catId}
	            </if>
	        	<if test="cover != null">
	                cover = #{cover}
	            </if>
	        	<if test="content != null">
	                content = #{content}
	            </if>
	        	<if test="articleUrl != null">
	                article_url = #{articleUrl}
	            </if>
	        	<if test="sourceUrl != null">
	                source_url = #{sourceUrl}
	            </if>
	        	<if test="addUserId > 0">
	                add_user_id = #{addUserId}
	            </if>
	        	<if test="status > 0">
	                status = #{status}
	            </if>
	        	<if test="checkUserId > 0">
	                check_user_id = #{checkUserId}
	            </if>
	        	<if test="sortOrder > 0">
	                sort_order = #{sortOrder}
	            </if>
	        </trim>
        </where>
    </delete>

    <select id="query" parameterType="Map" resultMap="SfArticle">
        select <include refid="allColumn"/> from sf_article
        <where>  
        	<if test="articleId > 0">
                article_id = #{articleId}
            </if>
        </where> 
    </select>

    <select id="queryList" parameterType="Map" resultMap="SfArticle">
        select sa.*,su.user_name as userName from sf_article as sa
        inner join system_user as su
        on sa.add_user_id=su.user_id
        <where>
	        <trim prefixOverrides="and | or">
	        	<if test="title != null and title !=''">
	                and sa.title like concat('%',#{title},'%')
	            </if>
                <if test="auth !=null and auth !=''">
                    and sa.auth like concat('%',#{auth},'%')
                </if>
                <if test="status != null">
                    and sa.status = ${status}
                </if>
                <if test="startDate != null">
                    and sa.add_time &gt;= #{startDate}
                </if>
                <if test="endDate != null">
                    and sa.add_time &lt;= #{endDate}
                </if>
	        </trim>
        </where>
        order by article_id desc;
    </select>

</mapper>
